@font-face {
	font-family: Exo2Bold;
	src: url("../fonts/Exo2Bold/Exo2Bold.eot");
	src: url("../fonts/Exo2Bold/Exo2Bold.eot?#iefix") format("embedded-opentype"),
				url("../fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
				url("../fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: FuturaBold;
	src: url("../fonts/FuturaBold/FuturaBold.eot");
	src: url("../fonts/FuturaBold/FuturaBold.eot?#iefix") format("embedded-opentype"),
				url("../fonts/FuturaBold/FuturaBold.woff") format("woff"),
				url("../fonts/FuturaBold/FuturaBold.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: FuturaNormal;
	src: url("../fonts/FuturaNormal/FuturaNormal.eot");
	src: url("../fonts/FuturaNormal/FuturaNormal.eot?#iefix") format("embedded-opentype"),
				url("../fonts/FuturaNormal/FuturaNormal.woff") format("woff"),
				url("../fonts/FuturaNormal/FuturaNormal.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: HelveticaNeueCyrBold;
	src: url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot");
	src: url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot?#iefix") format("embedded-opentype"),
				url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.woff") format("woff"),
				url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: HelveticaNeueCyrRoman;
	src: url("../fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.eot");
	src: url("../fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.eot?#iefix") format("embedded-opentype"),
				url("../fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.woff") format("woff"),
				url("../fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: LetoSansBold;
	src: url("../fonts/LetoSansBold/LetoSansBold.eot");
	src: url("../fonts/LetoSansBold/LetoSansBold.eot?#iefix") format("embedded-opentype"),
				url("../fonts/LetoSansBold/LetoSansBold.woff") format("woff"),
				url("../fonts/LetoSansBold/LetoSansBold.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: MyriadProRegular;
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
				url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
				url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: PTSansCaptionRegular;
	src: url("../fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot");
	src: url("../fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot?#iefix") format("embedded-opentype"),
				url("../fonts/PTSansCaptionRegular/PTSansCaptionRegular.woff") format("woff"),
				url("../fonts/PTSansCaptionRegular/PTSansCaptionRegular.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}